# Unity generated folders
[Ll]ibrary/
[Tt]emp/
[Bb]uild/
[Bb]uilds/
[Ll]ogs/
[Oo]bj/
UserSettings/

# Visual Studio / Rider
.vs/
*.csproj
*.unityproj
*.sln
*.user
*.pidb
*.userprefs

# OS files
.DS_Store
Thumbs.db

# Editor & IDE
.vscode/
.trae-cn/

# Common large files you might want to track with LFS
*.psd
*.fbx
*.png
*.jpg
